

<section class="skin-comms" role="region">
  <header id="test" class="animated">
    <button [router-link]="['/Settings']"><span class="icon icon-options">options</span></button>
    <menu type="toolbar">
      <button [router-link]="['/Rooms']"><span class="icon icon-add">add</span></button>
    </menu>
    <h1>FreeChat</h1>
  </header>
</section>
<main id="testTwo" class="animated" data-type="list">
  <header id="headerText">Home Chat Room</header>
  <ul>
    <li *ng-for="#message of messages">
      <p id="userText">{{message.user}}</p>
      <p class="text">{{message.message}}</p>
    </li>
  </ul>
</main>
<footer id="testThree" class="animated">
  <div class="input-group">
    <input id="textInput" #message type="text" class="form-control" placeholder="New Message...">
    <span class="input-group-btn">
       <button (click)="send(message.value)" id="sendButton" class="btn btn-default" type="button">Send</button>
    </span>
  </div>
</footer>