<section class="skin-comms" role="region">
  <header id="test" class="animated">
    <button [router-link]="['/Items']"><span class="icon icon-back">back</span></button>
    <menu type="toolbar">
      <button><span class="icon icon-ad">add</span></button>
    </menu>
    <h1>Settings</h1>
  </header>
</section>
<main id="testTwo" class="animated" data-type="list">
  <header id="headerText">Settings</header>
  <ul>
    <li class="settingItem" [router-link]="['/Login']">
      <p>Log Out</p>
    </li>
    <li class="settingItem" (click)="clearMessages()" [router-link]="['/Login']">
      <p>Emergency Log Out</p>
    </li>
    <li class="settingItem" (click)="clearMessages()">
      <p>Clear Messages</p>
    </li>
    <li class="settingItem" (click)="darkTheme()">
      <p>Dark Theme</p>
    </li>
    <li class="settingItem" (click)="defaultTheme()">
      <p>Default Theme</p>
    </li>
  </ul>
</main>