<section class="skin-comms" role="region">
  <header id="test" class="animated">
    <button [router-link]="['/Items']"><span class="icon icon-back">back</span></button>
    <menu type="toolbar">
      <button><span class="icon icon-ad">add</span></button>
    </menu>
    <h1>Rooms</h1>
  </header>
</section>
<main id="testTwo" class="animated" data-type="list">
  <header id="headerText">Rooms</header>
  <ul>
    <li class="settingItem">
      <p [router-link]="['/News']">News</p>
    </li>
    <li class="settingItem">
      <p [router-link]="['/FirefoxOS']">Firefox OS</p>
    </li>
    <li class="settingItem">
      <p [router-link]="['/Sports']">Sports</p>
    </li>
  </ul>
</main>