<section>
	<div id="loginBox">
		<h1 id="loginText">FreeChat</h1>
		
		<div class="animated" id="inputBox" [hidden]="saved">
			<input id="loginInput" #username class="form-control" type="text" placeholder="Name">
		</div>
		
		<div id="saveButton" class="animated" [hidden]="saved">
			<button (click)="login(username.value)" class="button" type="button">Save</button>
		</div>
		
		<div [hidden]="!saved">
		    <button id="loginButton" [router-link]="['/Items']" class="button" type="button">Login</button>
		</div>
	</div>
</section>